.container-fluid {
    margin: 0;
    padding: 0;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .center-box {
    background:rgba(255, 255, 255, 1);
    width: 1000px;
    height: 70px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-top: 40px;
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    
    

  }

  .center-box p {
    font-size: 20px;
    margin-top: 5px;
    font-weight: 500;
    justify-items: center;
  }

  #product{
   background: white;
   width: 600px;
   height: 650px;
   margin-left: 130px;
   margin-top: 20px;


  }

.product-details{
    display: flex;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    align-items: flex-end;
}


.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 20px; /* equal spacing between items */
    padding: 20px; /* optional padding around the grid */
    max-width: 750px; /*limit the maximum width of the grid */
    margin: 0 auto;
    width: 750px;
    text-align: center;

}

.items > div {
    border: 1px solid #ccc; /* optional styling */
    padding: 10px;
    text-align: center;
    width: 200px; /* set specific width for grid items */
    height: 150px;
    background: rgba(244, 244, 244, 1);
   
    
   
}
.items img {
    max-width: 100%; /* make sure images fit within their containers */
    height: auto; /* maintain aspect ratio */
    max-height: 80px; /* limit the height of images */
    width: 70px;
   
    
   
}

.items h3, .items p {
    margin-top: 20px; /* reduce spacing between text elements */
}

.items h3 {
    font-size: 13px;
    
}

.items p{
    font-size:10px ;
    
}

.items-background {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background: rgba(244, 244, 244, 1); /* optional background color */
    width: 750px;
    margin-right: 70px;
}

.bundles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 45px; /* equal spacing between items */
    padding: 20px; /* optional padding around the grid */
    max-width: 750px; /*limit the maximum width of the grid */
    margin-left: 110px;
    width: 600px;
    text-align: center;
    margin-top: 120px;

}

.bundles > div {
    border: 1px solid #ccc; /* optional styling */
    padding: 0;
    text-align: center;
    width: 200px; /* set specific width for grid items */
    height: 150px;

   
}

.bundles img {
    max-width: 100%; /* make sure images fit within their containers */
    /* maintain aspect ratio */
    height: 100px; /* limit the height of images */
    width: 100%;
    display: block;
    padding: 0;
    

}

.bundles h3 {
    font-size: 11px;
}


.main {
    display: flex;
    gap: 50px;
    
}

.input{
    margin-top: 20px;
}

.custom-input {
    width: 30px;
}
.rate-text h3{
    font-size: 14px;
    font-weight: 500;
    
}
.rate-text p{
    font-size: 12px;
}
.rate-text-prices1 ul li{
    list-style: none;
    font-size: 12px;
}

.rate-text-prices2 ul li{
    list-style: none;
    font-size: 12px;
}

.accessory-items1,.accessory-items2,.accessory-items3,.accessory-items4{
    display: flex;
    gap: 10px;
}

.accessory-text h3{
    font-size: 17px;
}
.accessory-text p {
    font-size: 8px;
}
.accessory-text h4{
    font-size: 11px;
    
}
.accessory-img img{
    width: 100px;
    
}

.accessory-img{
    border: 1px solid #ccc;
    height: 100px;
}

.review-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.review-comments{
    display: flex;
    gap: 10px;
}

.review-text p{
    font-size: 12px;
}

.reviews{
    background: rgba(255, 255, 255, 1);
    height: 350px;
    padding: 15px;
    margin-top: 10px;
}
.headphone-sub div{
    background:rgba(51, 51, 51, 1) ;
    border: 1px solid;
}