.container-fluid {
    margin: 0;
    padding: 0;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .center-box {
    background:rgba(255, 255, 255, 1);
    width: 1000px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-top: 40px;
    border-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-left: 30px;

  }

  .center-box p {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
  }

  #product{
   background: white;
   width: 600px;
   height: 550px;
   margin-left: 173px;
   margin-top: 40px;


  }

.product-details{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 20px; /* equal spacing between items */
    padding: 20px; /* optional padding around the grid */
    max-width: 600px; /* limit the maximum width of the grid */
    margin: 0 auto;
    margin-left: 150px;
}

.items > div {
    border: 1px solid #ccc; /* optional styling */
    padding: 10px;
    text-align: center;
    width: 190px; /* set specific width for grid items */
    height: 100px;
   
    
   
}
.items img {
    max-width: 100%; /* make sure images fit within their containers */
    height: auto; /* maintain aspect ratio */
    max-height: 80px; /* limit the height of images */
}

.items h3, .items p {
    margin: 5px 0; /* reduce spacing between text elements */
}

.items h3 {
    font-size: 15px;
}

.items p{
    font-size:10px ;
}

.items-background {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-color: rgba(244, 244, 244, 1); /* optional background color */
}

.bundles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 20px; /* equal spacing between items */
    padding: 20px; /* optional padding around the grid */
    max-width: 600px; /* limit the maximum width of the grid */
    margin: 0 auto;
    margin-left: 150px;
    margin-top: 40px;
}

.bundles > div {
    border: 1px solid #ccc; /* optional styling */
    padding: 10px;
    text-align: center;
    width: 190px; /* set specific width for grid items */
    height: 100px;
}

.bundles img {
    max-width: 100%; /* make sure images fit within their containers */
    height: auto; /* maintain aspect ratio */
    max-height: 80px; /* limit the height of images */
}

.bundles h3 {
    font-size: 15px;
}

.bundles p{
    font-size:10px ;
}

.main {
    display: flex;
    gap: 50px;
    
}

.input{
    margin-top: 40px;
}

.custom-input {
    width: 30px;
}