.shop-main{
  
}
.shop-mini {
    display: flex;
   
}

.shop-mini h3 {
    margin-right: auto; /* Pushes the search container to the right */
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 275px;
}

.search-container input[type="text"],
.search-container button {
    margin-left: 10px; /* Adjust spacing between input and button */
}
.search-container button{
  background: rgba(6, 154, 217, 1);
  color: white;
  border-color: transparent;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin-left: 150px;
  text-align: center;
}

.product-item {
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden; /* Ensure text doesn't overflow */
  height: 200px;
  width: 250px;
}

.product-item img {
    max-width: 100%; /* make sure images fit within their containers */
    height: auto; /* maintain aspect ratio */
    width: 150px;
    height: 130px;
    text-align: center;
    
   
}

.product-item .text {
  background: rgba(51, 51, 51, 0.8); /* Adjust opacity as needed */
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.product-item h3 {
  font-size: 13px;
  margin: 0;
}

.product-item p {
  font-size: 10px;
  margin: 0;
}
.text button {
  margin-top: 20px;
  background: gray;
}
.text div {
  margin-top: 15px;
}



  .mobi-accessories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-width: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 150px;

  }
