.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color:  rgba(51, 51, 51, 1);
    color: white;
    height: 80px;
    margin-top: 5px;

}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu button {
    background-color: rgba(51, 51, 51, 1);
    color: white;
    border-radius: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding-left: 5px;
    padding-right: 5px;
    

}
.login-cart{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: 40px;
}
.cart-count{
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-left: -25px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.toggle-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* adjust the width as needed */
    height: 500px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    display: none;
   list-style: none;
  }
  .sidebar.show {
    transform: translateX(0);
    display: block;
  }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar li a {
    color: #fff;
    text-decoration: none;
  }

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-menu {
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      display: none;
    }
  
    .nav-menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .login-cart {
      margin-top: 10px;
    }
    .toggle-menu {
        display: block;
      }
      .nav-menu.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
      }
      .nav-menu.show li {
        margin-right: 0;
        margin-bottom: 10px;
      }
      .sidebar {
        transform: translateX(-100%);
        display: block;
        width: 100%;
      }
  }