.bundles-offer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    grid-template-rows: repeat(5, auto);  /* 2 rows */
    gap: 45px; /* equal spacing between items */
    padding: 20px; /* optional padding around the grid */
    max-width: 750px; /*limit the maximum width of the grid */
    margin-left: 110px;
    width: 600px;
    text-align: center;
    margin-top: 120px;

}

.bundles-offer > div {
    border: 1px solid #ccc; /* optional styling */
    padding: 0;
    text-align: center;
    width: 200px; /* set specific width for grid items */
    height: 150px;

   
}

.bundles-offer img {
    max-width: 100%; /* make sure images fit within their containers */
    /* maintain aspect ratio */
    height: 100px; /* limit the height of images */
    width: 100%;
    display: block;
    padding: 0;
    

}

.bundles-offer h3 {
    font-size: 11px;
}
