.banner{
    background-color: rgba(6, 154, 217, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;

    
}
.banner-text{
    margin-top: 40px;
}

.banner-text h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-left: 60px;
}

.banner-text p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 50px;
}

.banner-img{
    display: flex;
    background-color: white;
    width: 500px;
    height: 100px;
    border-style: solid;
    border-width: 4px;
    border-color: yellow;

}

.banner-img h3 {
  justify-content: center;
 
}
.banner-girl img {
   width: 200px;
   height: 150px;
   margin-right: 40px;
   padding-right: 5px;
  }
  